.card__delete-button {
  display: none;
  background: none;
  background-image: url(../../../images/delete_icon.svg);
  background-size: contain;
  height: 19.3px;
  width: 18px;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  transition: 0.2s;
  z-index: 6;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
