.card {
    display: block;
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 282px;
}

@media screen and (max-width: 320px) {
    .card {
        margin: 0;
    }
    
}